body{
    font-family: calibri;
}
h2.header{
    margin: 0px;
     padding-top: 20px;
    padding-left: 20px;
     color: darkgrey;
}

.custnav{
    text-decoration: none;
    color: grey;

}
li.leftnav{
    padding-left:10px;
    padding-top:5px;
}

a:hover{
    text-decoration: underline;
}

.question{
    font-weight: bold;
    padding: 5px;
   
    cursor:pointer;
    border:1px solid #eee;
}

.answer{
    padding: 5px;
    padding-right: 40px;
    padding-bottom: 20px;
    /* border-bottom: 1px solid #eee; */
    background: #f5f5f5;
    border-left: 20px solid bisque;
    
}

.qBlock{
    margin-top:10px;
    margin-right:80px;
   
}

.active{
    background: aliceblue;
}

.custnav:hover{
    background : #eee;
}

.answer{
    display: none;
}

.mainSelect{
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.hNav{
    list-style-type: none;
}

.hNav > li{
    display: inline;
}